<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Собакам</title>
    <style>
        .aczii {
            font-size: 23px;
        }


        .action1 {
            height: 75px;
            width: 75px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            border-radius: 50%;
            background-color: #fcc000;
            font-size: 20px;
            color: #000;
            text-decoration: none;
            position: absolute;
        }

        .action2 {
            height: 75px;
            width: 75px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            border-radius: 50%;
            background-color: #fb4848;
            font-size: 20px;
            color: #000;
            text-decoration: none;
            position: absolute;
        }

        .action1 div {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .action2 div {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .sales {
            font-size: 12px;
            padding: 5px 20px;
            color: #fff;
            background-color: #fb4848;
            width: 80px;
            border-radius: 5px;
            margin-bottom: 10px;
            text-align: center;
        }

        .reference {
            display: none;
        }

        .reference ~ .story {
            display: none;
        }

        .reference + label {
            font-size: 23px;
            padding: 0;
            border-bottom: 2px solid #fcc000;
            font-weight: normal;
            padding-bottom: 5px;
            background-color: #fff;
            color: black;
            cursor: pointer;
            display: inline-block;
        }

        .reference:checked ~ .story {
            display: block;
            background: #fff;
            padding: 10px;
        }

        /*.product-card {background-color: #efeeee; border-radius: 10px;}*/
        .UAH {
            border-bottom: 5px solid #ffc100;
        }

        .price {
            font-size: 12px;
        }

        .product-specific {
            font-size: 15px;
        }

        .product-description {
            background-color: #f4f4c8;
            padding: 5px 2px 2px 5px;
            margin-bottom: 3px;
        }

        .brands {
            color: #000;
            border: 2px solid #ffc100;
            border-radius: 8px;
            max-height: 300px;
        }

        .nav-link {
            color: #000;
            border-bottom: 2px solid #ffc100;
        }

        .nav-link:hover {
            color: #fff;
            background-color: #ffc100
        }

        .main-img {
            background-color: #ffc100
        }

        div.brends img {
            border: 1px solid #bdbcbc;
        }

        div.brends img:hover {
            border: 2px solid #ffc100;
        }

        footer {
            background-color: #bdbcbc
        }

    </style>
</head>
<body>
<header class="container">
    <div id="top-head" class="row justify-content-center align-items-center pt-3">
        <div id="logo" class="col-md-4">
            <a href="welcome">
                <ul>Home Page</ul>
            </a>
        </div>

        <div id="search" class=" col-md-5">
            <div class="input-group">
                <input type="text" id="Find" class="form-control" placeholder="Поиск товаров" onkeyup="myFunction()">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Найти</button>
                </div>
            </div>
        </div>

        <div id="user" class="col-md-3">

            <a href="profile" class="btn btn-success">Профиль</a>
            <a href="info" class="btn btn-success">Контакты</a>
        </div>
    </div>

    <div id="nav" class="row pt-5">

        <ul class="nav nav-pills nav-justified col-md-12 p-0">
            <li class="nav-item">
                <a class="nav-link" href="dogs">Собакам</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="cats">Кошкам</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ferrets">Хорькам</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="rodents">Грызунам</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="fish">Рыбам</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="birds">Птицам</a>
            </li>
        </ul>

    </div>

</header>
<main>

    <div class="top-main container p-2">
        <h3 class="nav-link p-0">Всё для собак</h3>
    </div>

    <div class="main-body container p-2">

        <div class="row text-center">

            <div class="brands col-2">

                <h3 class="text-left">Бренды</h3>

                <div class="option" align="left">
                    <input type="checkbox" value id="Royal Canin check" onchange="updateHidden()">
                    <span>Royal Canin</span>
                </div>
                <div class="option" align="left">
                    <input type="checkbox" value id="Optimeal check" onchange="updateHidden()">
                    <span>Optimeal</span>
                </div>
                <div class="option" align="left">
                    <input type="checkbox" value id="Brit check" onchange="updateHidden()">
                    <span>Brit Care</span>
                </div>
            </div>

            <div class="col-10">

                <h3>Товары</h3>

                <div class='Item' id="Royal Canin">

                    <h3 class="product-title text-left">
                        <a class="text-dark" href="#"><u class='Item'>Royal Canin Yorkshire Terrier Adult</u></a>
                    </h3>

                    <div class="product-body row">

                        <div class="product-image col-2">
                            <div class="action2">
                                <div>-30%</div>
                            </div>
                            <img src="https://pethouse.ua/assets/images/prods/small/royalcanin/000000322.jpg" alt="">
                        </div>
                        <div class="product-info col-5">
                            <div class="sales">АКЦИЯ</div>
                            <p class="product-description text-left">Корм для собак породы йоркширский терьер старше 10
                                месяцев</p>
                            <div class="product-specific text-left">
                                <p class="p-0 m-0"><b>Животное</b> - <span class="animal">Собакам</span></p>
                                <p class="p-0 m-0"><b>Возраст</b> - <span class="age">Для взрослых собак</span></p>
                                <p class="p-0 m-0"><b>Категория</b> - <span class="category">Сухой корм</span></p>
                                <p class="p-0 m-0"><b>Класс продукта</b> - <span class="prod-class">Премиум</span></p>
                                <p class="p-0 m-0"><b>Размер породы</b> - <span class="special">Миниатюрная</span></p>
                            </div>
                        </div>
                        <div class="product-price col-5">
                            <div class="row">
                                <div class="col-4">
                                    500 грамм
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">154.50 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    1.5 кг
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">399.99 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    7.5 кг
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">1749.99 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>

                        </div>

                    </div>

                    <hr>

                </div>

                <div class='Item' id="Royal Canin0">

                    <h3 class="product-title text-left">
                        <a class="text-dark" href="#"><u class='Item'>Royal Canin French Bulldog Puppy</u></a>
                    </h3>

                    <div class="product-body row">

                        <div class="product-image col-2">
                            <img src="https://pethouse.ua/assets/images/prods/small/royalcanin/000002868.jpg" alt="">
                        </div>
                        <div class="product-info col-5">
                            <p class="product-description text-left">Полнорационный сухой корм для щенков породы
                                французский бульдог до 12 месяцев</p>
                            <div class="product-specific text-left">
                                <p class="p-0 m-0"><b>Животное</b> - <span class="animal">Собакам</span></p>
                                <p class="p-0 m-0"><b>Возраст</b> - <span class="age">Для щенков и юниоров</span></p>
                                <p class="p-0 m-0"><b>Категория</b> - <span class="category">Сухой корм</span></p>
                                <p class="p-0 m-0"><b>Класс продукта</b> - <span class="prod-class">Супер-премиум</span>
                                </p>
                                <p class="p-0 m-0"><b>Размер породы</b> - <span class="special">Средняя</span></p>
                            </div>
                        </div>
                        <div class="product-price col-5">
                            <div class="row">
                                <div class="col-4">
                                    1 кг
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">249.00 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>

                            </div>

                        </div>

                        <hr>

                    </div>
                </div>

                <div class='Item' id="Brit Care">

                    <h3 class="product-title text-left">
                        <a class="text-dark" href="#"><u class='Item'>Brit Care Puppy Lamb and Rice</u></a>
                    </h3>

                    <div class="product-body row">

                        <div class="product-image col-2">
                            <div class="action2">
                                <div>-5%</div>
                            </div>
                            <img src="https://pethouse.ua/assets/images/prods/small/britcare/000006841.jpg" alt="">
                        </div>
                        <div class="product-info col-5">
                            <div class="sales">АКЦИЯ</div>
                            <p class="product-description text-left">Полнорационный сухой корм на основе мяса
                                ягненка и риса для всех пород в возрасте от 4-х недель до 12-и месяцев, а также для
                                беременных и кормящих собак. Гипоаллергенная формула, обеспечит здоровье и отличный
                                внешний вид шерсти, хорошо усваивается организмом щенка и не вызывает пищевой
                                непереносимости.</p>
                            <div class="product-specific text-left">
                                <p class="p-0 m-0"><b>Животное</b> - <span class="animal">Собакам</span></p>
                                <p class="p-0 m-0"><b>Возраст</b> - <span class="age">Для щенков и юниоров</span>
                                </p>
                                <p class="p-0 m-0"><b>Категория</b> - <span class="category">Сухой корм</span></p>
                                <p class="p-0 m-0"><b>Класс продукта</b> - <span
                                        class="prod-class">Супер-премиум</span></p>
                                <p class="p-0 m-0"><b>Особые потребности</b> - <span class="special">Беременные и кормящие, Чувствительный желудок, Чувствительная кожа</span>
                                </p>
                                <p class="p-0 m-0"><b>Размер породы</b> - <span class="special">Крупная и гигантская, Средняя, Малая</span>
                                </p>
                            </div>
                        </div>
                        <div class="product-price col-5">
                            <div class="row">
                                <div class="col-4">
                                    1 кг
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">179.00 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    3 кг
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">493.50 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    12 кг
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">1893.99 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>

                        </div>

                    </div>

                    <hr>

                </div>

                <div class='Item' id="Royal Canin1">

                    <h3 class="product-title text-left">
                        <a class="text-dark" href="#"><u class='Item'>Royal Canin Medium Adult</u></a>
                    </h3>

                    <div class="product-body row">

                        <div class="product-image col-2">
                            <img src="https://pethouse.ua/assets/images/prods/small/royalcanin/000000303.jpg"
                                 alt="">
                        </div>
                        <div class="product-info col-5">
                            <p class="product-description text-left">Корм для взрослых собак средних пород в
                                возрасте от 12 месяцев до 7 лет</p>
                            <div class="product-specific text-left">
                                <p class="p-0 m-0"><b>Животное</b> - <span class="animal">Собакам</span></p>
                                <p class="p-0 m-0"><b>Возраст</b> - <span class="age">Для взрослых собак</span></p>
                                <p class="p-0 m-0"><b>Категория</b> - <span class="category">Сухой корм</span></p>
                                <p class="p-0 m-0"><b>Класс продукта</b> - <span
                                        class="prod-class">Супер-премиум</span></p>
                                <p class="p-0 m-0"><b>Размер породы</b> - <span class="special">Средняя</span></p>
                            </div>
                        </div>
                        <div class="product-price col-5">
                            <div class="row">
                                <div class="col-4">
                                    1 кг
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">198.00 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    4 кг
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">697.00 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    15 кг
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">2385.00 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>

                        </div>

                    </div>

                    <hr>

                </div>

                <div class='Item' id="Optimeal Dog1">

                    <h3 class="product-title text-left">
                        <a class="text-dark" href="#"><u class='Item'>Optimeal Dog Adult Medium</u></a>
                    </h3>

                    <div class="product-body row">
                        <div class="product-image col-2">
                            <div class="action2">
                                <div>-15%</div>
                            </div>
                            <img src="https://pethouse.ua/assets/images/prods/small/optimeal/000007508.jpg" alt="">
                        </div>
                        <div class="product-info col-5">
                            <div class="sales">АКЦИЯ</div>
                            <p class="product-description text-left">Полнорационный сухой корм на основе мяса
                                индейки для взрослых собак средних пород.</p>
                            <div class="product-specific text-left">
                                <p class="p-0 m-0"><b>Животное</b> - <span class="animal">Собакам</span></p>
                                <p class="p-0 m-0"><b>Возраст</b> - <span class="age">Для взрослых собак</span></p>
                                <p class="p-0 m-0"><b>Категория</b> - <span class="category">Сухой корм</span></p>
                                <p class="p-0 m-0"><b>Класс продукта</b> - <span
                                        class="prod-class">Супер-премиум</span></p>
                                <p class="p-0 m-0"><b>Размер породы</b> - <span class="special">Средняя</span></p>
                            </div>
                        </div>
                        <div class="product-price col-5">
                            <div class="row">
                                <div class="col-4">
                                    1,5 кг
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">244.92 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    4 кг
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">659.88 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    12 кг
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">1679.99 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>

                        </div>

                    </div>

                    <hr>

                </div>

                <div class='Item' id="Optimeal Dog">

                    <h3 class="product-title text-left">
                        <a class="text-dark" href="#"><u>Optimeal Dog Adult Medium</u></a>
                    </h3>

                    <div class="product-body row">

                        <div class="product-image col-2">
                            <img src="https://pethouse.ua/assets/images/prods/small/acana/000010789.jpg" alt="">
                        </div>
                        <div class="product-info col-5">
                            <p class="product-description text-left">Высокопротеиновый полнорационный сухой корм на
                                основе красного мяса и рыбы для собак всех пород и возрастов.</p>
                            <div class="product-specific text-left">
                                <p class="p-0 m-0"><b>Животное</b> - <span class="animal">Собакам</span></p>
                                <p class="p-0 m-0"><b>Возраст</b> - <span class="age">Для взрослых собак, Для щенков и юниоров, Для пожилых собак</span>
                                </p>
                                <p class="p-0 m-0"><b>Категория</b> - <span class="category">Сухой корм</span></p>
                                <p class="p-0 m-0"><b>Класс продукта</b> - <span class="prod-class">Супер-премиум, Холистик</span>
                                </p>
                                <p class="p-0 m-0"><b>Размер породы</b> - <span class="special">Крупная и гигантская, Миниатюрная, Средняя, Малая</span>
                                </p>
                            </div>
                        </div>
                        <div class="product-price col-5">
                            <div class="row">
                                <div class="col-4">
                                    340 грамм
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">192.89 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    2 кг
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">1040.50 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    6 кг
                                </div>
                                <div class="col-5">
                                    <h4 class="UAH">2319.50 <small class="price">грн</small></h4>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-success btn-sm">Купить</button>
                                </div>
                            </div>

                        </div>

                    </div>

                    <hr>

                </div>

            </div>

        </div>

    </div>
    <script>
			function updateHidden() {

				if (document.getElementById("Royal Canin check").checked === false && document.getElementById("Brit check").checked === false && document.getElementById('Optimeal check').checked === false) {
					document.getElementById("Royal Canin").hidden = false;
					document.getElementById("Royal Canin0").hidden = false;
					document.getElementById("Royal Canin1").hidden = false;
					document.getElementById("Brit Care").hidden = false;
					document.getElementById('Optimeal Dog').hidden = false;
					document.getElementById('Optimeal Dog1').hidden = false;
				} else {
					document.getElementById("Royal Canin").hidden = !document.getElementById("Royal Canin check").checked;
					document.getElementById("Royal Canin0").hidden = !document.getElementById("Royal Canin check").checked;
					document.getElementById("Royal Canin1").hidden = !document.getElementById("Royal Canin check").checked;
					document.getElementById("Brit Care").hidden = !document.getElementById("Brit check").checked;
					document.getElementById('Optimeal Dog').hidden = !document.getElementById('Optimeal check').checked;
					document.getElementById('Optimeal Dog1').hidden = !document.getElementById('Optimeal check').checked;
				}
			}

			function myFunction() {
				var input = document.getElementById("Find");
				var filter = input.value.toLowerCase();
				var nodes = document.getElementsByClassName('Item');

				for (i = 0; i < nodes.length; i++) {
					if (nodes[i].innerText.toLowerCase().includes(filter)) {
						nodes[i].style.display = "block";
					} else {
						nodes[i].style.display = "none";
					}
				}
			}

    </script>
</main>

<footer class="mt-5">

    <div class="footer-top container row justify-content-center mx-auto pt-3">

        <div class="about col-3 ">

            <h2 class="text-light">О компании</h2>

            <ul style="list-style: none;">
                <li><a class="text-light" href="#">Компания</a></li>
                <li><a class="text-light" href="#">Карьера</a></li>
                <li><a class="text-light" href="#">Поставщикам</a></li>
                <li><a class="text-light" href="#">Благотворительность</a></li>
                <li><a class="text-light" href="#">Написать директору</a></li>
            </ul>

        </div>

        <div class="info col-3">

            <h2 class="text-light">Информация</h2>

            <ul style="list-style: none;">
                <li><a class="text-light" href="#">Оплата и доставка</a></li>
                <li><a class="text-light" href="#">Возврат товаров</a></li>
                <li><a class="text-light" href="#">Политика конфиденциальности</a></li>
                <li><a class="text-light" href="#">Условия использования</a></li>
                <li><a class="text-light" href="#">Представленные бренды</a></li>
                <li><a class="text-light" href="#">Карта сайта</a></li>
            </ul>

        </div>
        <div class="contact col-3">

            <h2 class="text-light">Контакты</h2>

            <ul style="list-style: none;">
                <li><a class="text-light" href="#">+380 (96) 813-17-09</a></li>
                <li><a class="text-light" href="#">daniil.zakharov@nure.ua</a></li>
                <li><a class="text-light" href="#">Youtube</a></li>
            </ul>

        </div>
        <div class="payment col-3">

            <h2 class="text-light">Способы оплаты</h2>

            <ul style="list-style: none;">
                <li><a class="text-light" href="#"><img src="https://pethouse.ua/assets/templates/zoog2/images/v24.png"
                                                        alt=""></a></li>
                <li><a class="text-light" href="#"><img
                        src="https://pethouse.ua/assets/templates/zoog2/images/google-pay.png" alt=""></a></li>
                <li><a class="text-light" href="#"><img
                        src="https://pethouse.ua/assets/templates/zoog2/images/apple-pay.png" alt=""></a></li>
                <li><a class="text-light" href="#"><img src="https://pethouse.ua/assets/templates/zoog2/images/mc24.png"
                                                        alt=""></a></li>

            </ul>

        </div>

    </div>

    <div class="footer-botom container mb-0 pb-2">

        <p class="text-light">© 2021 - &#8734; Интернет-зоомагазин Счасливый Питомец</p>

    </div>

</footer>

</body>
</html>