<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <style>
        .aczii {
            font-size: 23px;
        }


        .action1 {
            height: 75px;
            width: 75px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            border-radius: 50%;
            background-color: #fcc000;
            font-size: 20px;
            color: #000;
            text-decoration: none;
            position: absolute;
        }

        .action2 {
            height: 75px;
            width: 75px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            border-radius: 50%;
            background-color: #fb4848;
            font-size: 20px;
            color: #000;
            text-decoration: none;
            position: absolute;
        }

        .action1 div {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .action2 div {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .sales {
            font-size: 12px;
            padding: 5px 20px;
            color: #fff;
            background-color: #fb4848;
            width: 80px;
            border-radius: 5px;
            margin-bottom: 10px;
            text-align: center;
        }

        .reference {
            display: none;
        }

        .reference ~ .story {
            display: none;
        }

        .reference + label {
            font-size: 23px;
            padding: 0;
            border-bottom: 2px solid #fcc000;
            font-weight: normal;
            padding-bottom: 5px;
            background-color: #fff;
            color: black;
            cursor: pointer;
            display: inline-block;
        }

        .reference:checked ~ .story {
            display: block;
            background: #fff;
            padding: 10px;
        }

        .nav-link {
            color: #000;
            border-bottom: 2px solid #ffc100;
        }

        .nav-link:hover {
            color: #fff;
            background-color: #ffc100
        }

        .main-img {
            background-color: #ffc100
        }

        div.brends img {
            border: 1px solid #bdbcbc;
        }

        div.brends img:hover {
            border: 2px solid #ffc100;
        }

        footer {
            background-color: #bdbcbc
        }

    </style>
    <title>Счасливый питомец</title>
</head>
<body>
<header class="container">
    <div id="top-head" class="row justify-content-center align-items-center pt-3">
        <div id="logo" class="col-md-4">
            <a href="welcome">
                <ul>Home Page</ul>
            </a>
        </div>

        <div id="search" class=" col-md-5">
            <div class="input-group">
                <input type="text" class="form-control" id='Find' onkeyup="myFunction()" placeholder="Поиск товаров">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Найти</button>
                </div>
            </div>
        </div>

        <div id="user" class="col-md-3">

            <a href="profile" class="btn btn-success">Профиль</a>
            <a href="info" class="btn btn-success">Контакты</a>
        </div>
    </div>

    <div id="nav" class="row pt-5">

        <ul class="nav nav-pills nav-justified col-md-12 p-0">
            <li class="nav-item">
                <a class="nav-link" href="dogs">Собакам</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="cats">Кошкам</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="ferrets">Хорькам</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="rodents">Грызунам</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="fish">Рыбам</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="birds">Птицам</a>
            </li>
        </ul>

    </div>

</header>

<main class="main-content">

    <div class="main-img mt-3">

        <img class='mx-auto d-block' src="https://pethouse.ua/assets/images/mainpage/main-dog-1100.jpg" alt=""/>

    </div>
    <div class="sale container p-3">
        <br>
        <h2 class="p-3">Акции</h2>
        <p class="aczii">На этой неделе скидки на корма для кошек и собак:</p>

        <div class="products">

            <div class="row row-cols-3 row-cols-sm-6 mb-3 text-center">

                <div class="col">
                    <div class="card mb-1 shadow-sm">
                        <div class="card-body">
                            <div class="action1">
                                <div>-25%</div>
                            </div>
                            <img class="card-img-top"
                                 src="https://pethouse.ua/assets/images/prods/small/optimeal/000007510.jpg"
                                 alt="Optimeal Cat Adult Sterilised Turkey">
                            <a href="cats">Optimeal Cat Adult Sterilised Turkey</a>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-1 shadow-sm">
                        <div class="card-body">
                            <div class="action1">
                                <div>-15%</div>
                            </div>
                            <img class="card-img-top"
                                 src="https://pethouse.ua/assets/images/prods/small/optimeal/000007508.jpg"
                                 alt="Optimeal Dog Adult Medium">
                            <a href="dogs">Optimeal Dog Adult Medium</a>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-1 shadow-sm">
                        <div class="card-body">
                            <div class="action1">
                                <div>-30%</div>
                            </div>
                            <img class="card-img-top"
                                 src="https://pethouse.ua/assets/images/prods/small/royalcanin/000000322.jpg" alt="">
                            <a href="dogs">Royal Canin Yorkshire Terrier Adult</a>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-1 shadow-sm">
                        <div class="card-body">
                            <div class="action1">
                                <div>-5%</div>
                            </div>
                            <img class="card-img-top"
                                 src="https://pethouse.ua/assets/images/prods/small/britcare/000006841.jpg" alt=""
                                 height="220px" width="120px">
                            <a href="dogs">Brit Care Puppy Lamb and Rice</a>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-1 shadow-sm">
                        <div class="card-body">
                            <div class="action1">
                                <div>-7%</div>
                            </div>
                            <img class="card-img-top"
                                 src="https://pethouse.ua/assets/images/prods/small/homefood/000010034.jpg" alt=""
                                 height="220px" width="120px">
                            <a href="cats">Home Food с кроликом</a>

                        </div>
                    </div>
                </div>

                <!-- продолжение акций-->


            </div>

        </div>

        <br>
        <div class="sale container p-3">

            <h2 class="p-3">Полезная информация</h2>
            <!-- Блоки с раскрывающимся текстом -->
            <div class="openText">
                <input type="checkbox" id="first" class="reference">
                <label for="first">Как отмерить сухой корм для собак?</label>
                <span class="story">
							<b>Воспользуйтесь весами</b>
							<br><br>
							Самый простой, надёжный и точный способ отмерить сухой корм — взвесить разовую порцию корма на кухонных весах. Причём достаточно сделать это лишь единожды, а потом пересыпать корм в какую-то удобную ёмкость, например, пластиковый стакан, и сделать на нём отметку водостойким маркером. Так у вас получится мерная ёмкость, которой вы будете ежедневно отмерять нужное количество корма.
							<br><br>
							<b>Что делать, если весов дома нет?</b>
							<br><br>
							Если так получилось, что вы ещё не приобрели этот ценный прибор, то не беда. Ведь весы есть в любом супермаркете, они называются контрольными и, по закону, должны находиться в торговом зале во всеобщем доступе. При очередном походе в магазин вам достаточно захватить с собой порцию сухого корма и чистый целлофановый пакет. Взвесив корм, вы уже дома можете сделать себе мерную ёмкость, как мы описали выше.
							<br><br>
							<b>Мерные стаканы выпускает каждый бренд</b>
							<br><br>
							Производители обязательно предлагают зоомагазинам мерные стаканы для своей продукции. Выпускаются они и для брендов Acana и Orijen, отдельно для кошек и собак, с удобной разметкой под каждую линейку рациона. Вы можете обратиться в любой зоомагазин вашего города, где продаются корма интересующего вас бренда, и попросить мерный стакан у продавца. При этом следует понимать, что нельзя использовать ёмкость от другого корма, так как вес и объём сильно разнятся в зависимости от размера гранул и состава рациона.
							<br><br>
							<b>Как отмерить сухой корм для собак математическим методом?</b>
							<br><br>
							Если фасовка продукта небольшая, а ни весов, ни времени идти в магазин нет, то можно воспользоваться простым способом, для которого достаточно элементарных знаний математики. Допустим, вам нужно отмерить 100 г корма, а упаковка вмещает 1 кг. Тогда разделите 1000 на 100, получится 10 — именно столько необходимых вам порций вмещается в упаковку.
							<br><br>
							Далее нужно рассыпать корм по десяти разным ёмкостям в примерном равном количестве, которое и будет составлять одну порцию. Этот способ достаточно трудоёмок и неточен, поэтому лучше, конечно, воспользоваться теми, что мы привели выше.
							<br><br>
							Соблюдайте нормы кормления и никогда не отмеряйте рацион на глазок, ведь недостаточное или избыточное питание может негативно отразиться на здоровье вашей собаки.
						</span>
            </div>

            <div class="openText1">
                <input type="checkbox" id="second" class="reference">
                <label for="second">Вреден ли сухой корм для собак?</label>
                <span class="story">
							Индустрия готовых промышленных рационов для кормления домашних животных существует уже очень давно, но мифы вокруг неё продолжают множиться. Попробуем разобраться, в каких ситуациях сухой корм для собак может оказаться вредным.
							<br><br>
							<b>Корм не соответствует физиологии животных</b>
							<br><br>
							Помимо токсических веществ, попросту говоря ядов, не существует однозначно полезных и однозначно вредных компонентов. Вред и польза зависит от множества факторов. К примеру, ничего плохого нет в зерновых продуктах в питании человека, но избыток зерновых в кормах для собак может принести вред, пусть даже и в отдалённой перспективе.
							<br><br>
							Причина — в физиологии этих животных, которые являются плотоядными хищниками, а значит, их организм приспособлен к усвоению мяса. Поэтому выбирать следует корма, состоящие преимущественно из мясных компонентов, а источники углеводов должны занимать в них незначительное место.
							<br><br>
							<b>Корм не сбалансирован по составу</b>
							<br><br>
							Все готовые промышленные рационы являются полнорационными по процентному содержанию основных питательных веществ, однако источники последних могут быть разными. Например, общее количество белка в корме вполне может соответствовать потребностям собаки, но если вместо мясных компонентов (свежего и/или дегидратированного мяса) используется выделенный растительный белок, те же зерновые, содержащие не только углеводы, но и протеин, а также гидролизаты животного белка, то корм становится неполноценным для плотоядного животного.
							<br><br>
							Растительный белок не включает всех необходимых аминокислот, а гидролизат животного белка — продукт глубокой переработки из неизвестного сырья, который значительно утратил свою питательную ценность. Иными словами, с помощью этих компонентов производитель может добиться нужной цифры по общему содержанию белка в корме, однако пользы животному такой продукт не принесёт.
							<br><br>
							Собака не будет получать всех нужных ей аминокислот, витаминов, макро- и микроэлементов, что может вызвать сбои в работе её организма. И добавление витаминно-минерального премикса далеко не всегда спасает ситуацию, ведь лучше всего эти вещества усваиваются именно из пищи, а не из синтезированных добавок. Ищите корма с точным указанием источников белка животного происхождения и видов мяса, использованных при производстве корма.
							<br><br>
							<b>Испорченный корм</b>
							<br><br>
							Недаром на каждой упаковке сухого корма указан не только срок, но и условия хранения. С этой информацией нужно обязательно ознакомиться и не использовать в пищу животного просроченные продукты, а также соблюдать условия хранения. В качественных сухих кормах используются консерванты растительного происхождения — источники витамина Е, мощного антиоксиданта.
							<br><br>
							С одной стороны, это хорошо, потому что такой компонент абсолютно безвреден для животного, но с другой, — продукты, консервированные таким образом, чувствительны к воздействию света и воздуха, поэтому храните пакет плотно закрытым в прохладном, далёком от источников света и тепла месте.
							<br><br>
							<b>Корм не подходит животному</b>
							<br><br>
							Даже самый качественный продукт может привести к нарушениям в работе организма собаки, если содержит компоненты, которые вызывают у неё аллергию или пищевую непереносимость. Чаще всего виновником является источник животного белка, и выявить его бывает порой нелегко — нужно использовать диету исключения, для чего идеально подходят сухие корма с одним источником животного белка. Такие рационы вы можете найти в линейке кормов Acana Singles, которые созданы специально для животных с чувствительным пищеварением.
							<br><br>
							<b>Нарушение правил кормления</b>
							<br><br>
							Какой бы корм вы ни выбрали, если вы будете перекармливать собаку, то она рано или поздно наберёт лишний вес и получит весь букет связанных с ним заболеваний. Соблюдайте нормы кормления, следите за состоянием собаки и снижайте норму, если это потребуется. Также не следует кормить питомца беспорядочно: сегодня сухим кормом, завтра кашей с мясом, послезавтра — консервами и т.д. Такое несбалансированное питание обязательно вызовет расстройство пищеварения и более серьёзные дисфункции, и винить в этом сухой корм будет совершенно несправедливо.
							<br><br>
							Как мы видим, вред сухого корм для собак определяется многими факторами, но основным можно считать низкокачественный состав продукта и ошибки в кормлении. Чтобы сухой корм приносил пользу, нужно научиться разбираться в его составе, выбирать только качественные, соответствующие потребностям собак как биологического вида, рационы и соблюдать правила кормления. Тогда ваш питомец может питаться готовым рационом всю жизнь, оставаясь здоровым и бодрым.
						</span>
            </div>

            <div class="openText2">
                <input type="checkbox" id="third" class="reference">
                <label for="third">Сколько граммов сухого корма давать кошке?</label>
                <span class="story">
							<b>Норма для пожилых</b>
							<br><br>
							После 7 лет у кошки замедляется обмен веществ. Она уже не так игрива и подвижна, как прежде, а значит, ей требуется меньше корма. Составители рационов Acana предусмотрели особые нормы кормления для стареющих животных. Найти эту информацию можно в колонке «Пожилой возраст» (Senior Cat).
							<br><br>
							<b>До 12 месяцев</b>
							<br><br>
							Если вашей кошке ещё не исполнился год, руководствуйтесь рекомендациями для котят, которые указаны в нижней части таблицы. Количество корма рассчитывается на килограмм веса животного.
							<br><br>
							Например, вашему котенку 2,5 месяца, и он весит 1,600 кг. Суточная норма для этого возраста достаточно высока — 60 граммов на 1 кг веса. Умножаем: 60 х 1,6 = 96 г.
							<br><br>
							Обратите внимание, что это количество корма указано на сутки, а не на одну трапезу. Если вы наполняете миску по нескольку раз в день, следует разделить 96 граммов на число кормлений.
							<br><br>
							<b>Беременность и лактация</b>
							<br><br>
							Если кошка беременна, суточный рацион рекомендуется увеличить на 25%. А для кормящей мамы и вовсе следует держать корм в свободном доступе: пусть ест, сколько хочет. Ведь для выработки молока требуется много энергии, и недостаток питания в этот ответственный период в дальнейшем аукнется ранней потерей здоровья.
						</span>
            </div>

            <div class="openText3">
                <input type="checkbox" id="fourth" class="reference">
                <label for="fourth">Сколько сухого корма нужно котёнку в день?</label>
                <span class="story">
							Насыпать корм «на глазок» не следует. А чтобы каждый раз не заниматься взвешиванием, можно единожды отмерить норму на кухонных весах и подобрать подходящую по объёму мерную ёмкость. Суточную порцию обычно делят на 2–3 равные части. Допустимо наполнять миску и один раз в сутки: котёнок в любом случае не съедает всё сразу, а подходит к миске часто и понемногу, съедая буквально по нескольку гранул. Это абсолютно нормально для кошек и не должно становиться поводом для беспокойства.
							<br><br>
							Если же котёнок, напротив, накидывается на пищу с жадностью и склонен объедаться, держать корм в свободном доступе не стоит. Суточную норму придётся делить на число кормлений и выдавать по часам, через равные промежутки времени. 2-месячного котёнка рекомендуется кормить не менее 4 раз в день, а с 5 месяцев достаточно будет трёх кормлений.
							<br><br>
							Решая вопрос, сколько сухого корма нужно котёнку, помните, что каждое животное индивидуально. Следите за упитанностью вашего питомца и при необходимости корректируйте норму кормления в ту или иную сторону. При любых сомнениях в правильности подобранного рациона разумно обратиться к ветеринарному специалисту.
						</span>
            </div>

            <div class="openText4">
                <input type="checkbox" id="fifth" class="reference">
                <label for="fifth">Выпускается ли корм для собак без белка?</label>
                <span class="story">
							Основные компоненты рационов для домашних животных содержат белок. Он может поступать из мяса и внутренностей животных, птицы, рыбы, злаков, бобовых – и все они, в той или иной степени, могут быть названы источниками белка. Таким образом, нужно понимать, что корма для собак без белка не существует. Но остаётся открытым очень важный вопрос: содержание и происхождение белка в каждом конкретном рационе.
							<br><br>
							Необходимо обратить внимание, что показатели эти не оптимальные, а минимальные. То есть это уровень белка, который собака должна получать с готовым кормом для жизнеобеспечения. Реальные физиологические нужды собак для поддержания хорошей физической формы значительно выше.
							<br><br>
							Низкий уровень белка в рационе способен привести к нарушениям многих жизненно важных процессов в организме: снижению иммунитета, сбоям в работе нервной системы, потере мышечной массы, истощению, ухудшению состоянию кожи и шерсти. Поэтому введение низкобелковых диет без назначения ветеринарного врача – опасная практика, которая может усугубить состояние больного животного, а здоровое – превратить в больное.
							<br><br>
							<b>Растительный белок vs животный</b>
							<br><br>
							Когда владельцы интересуются, выпускается ли корм для собак без белка, часто выясняется, что на деле имеется в виду совсем другое. Речь идёт о корме для собак без белков животного происхождения, то есть без мясных, рыбных, молочных ингредиентов, яиц и прочего. Подобные продукты действительно существуют, очень часто они позиционируются как гипоаллергенные, веганские или вегетарианские. Как правило, источником белка в них служит злаки, бобовые и выделенные из них белковые концентраты с добавлением комплекса аминокислот.
							<br><br>
							Рацион с исключительно растительным белком не может обеспечить плотоядное животное необходимыми питательными веществами, поэтому в формулы кормов без животного белка обязательно вводятся искусственно синтезированные аминокислоты, микро- и макроэлементы. Всё это очень далеко от принципов полноценного питания, соответствующего биологическим потребностям собаки.
							<br><br>
							Мы находим более правильным, когда рацион домашних питомцев состоит из ценного животного сырья, а не из зерна и химических добавок. При разработке рационов «Акана» и «Ориджен» применяется принцип Whole Prey (что буквально означает «добыча целиком»). Он предполагает включение в формулу не только чистого мышечного мяса, но и ценных субпродуктов разнообразных животных, рыб и птиц:
							<br><br>
							- мясо, рыба, яйца обеспечивают организму весь спектр аминокислот;
							<br><br>
							- рубец, печень, почки становятся источниками витаминов;
							<br><br>
							- хрящевые ткани служат поставщиком коллагена и натуральным хондропротектором.
							<br><br>
							Всё это позволяет минимизировать использование всякого рода добавок и витаминно-минеральных премиксов: собаки получают необходимые питательные элементы из еды, что, в общем-то, является естественным положением вещей.
						</span>
            </div>

            <div class="openText5">
                <input type="checkbox" id="six" class="reference">
                <label for="six">Почему животные толстеют?</label>
                <span class="story">
							Ожирение — актуальная проблема не только современных людей, но и их домашних питомцев, живущих в городских условиях. Некоторые причины, по которым животные толстеют, лежат, что называется, на поверхности, другие — часто становятся новостью для владельцев.
							<br><br>
							<b>Избыток пищи</b>
							<br><br>
							Первая и наиболее очевидная причина набора лишнего веса — избыточное питание. Животное не может определить, сколько ему нужно потреблять калорий, и полностью зависит от нас в этом вопросе. Практикуя кормление «на глазок», легко превысить суточную норму в два и более раза и не заметить этого. Если ваша кошка или собака склонна к полноте, очень важно соблюдать суточные нормы кормления, которые указаны на упаковке готовых сухих рационов. Например, для кошки весом 4 кг требуется всего 60 граммов продукта Acana Grasslands Cat в сутки, что, на первый взгляд, может показаться очень мало. Однако здесь нужно учитывать, что сухой корм из-за низкого содержания влаги является энергетически ёмким продуктом: его питательная ценность на 100 граммов составляет около 400 ккал, а иногда и более.
							<br><br>
							Если вы кормите животное едой домашнего приготовления, рацион нужно рассчитывать индивидуально, регулируя не только калорийность, но и нутриентный состав (на этом мы ещё остановимся ниже). Конечно, использовать готовые корма в этом плане проще: обо всех подсчетах уже позаботился производитель, вам остаётся только правильно дозировать корм при помощи мерного стаканчика или кухонных весов.
							<br><br>
							<b>Лакомства в рационе</b>
							<br><br>
							Даже строгое соблюдение нормы кормления ничего не даст, если животное систематически подкармливают специальными лакомствами из зоомагазина или едой с человеческого стола. В большой семье, где каждый норовит побаловать любимца, калорийность таких угощений способна в разы перекрывать рекомендуемый суточный рацион. Высокой энергетической ценностью обладают жирное мясо, сыры и колбасы. Даже маленький кусочек любого из этих продуктов бывает значим в рационе кошки или собачки мелкой породы.
							<br><br>
							Конечно, устоять перед жалобными глазами питомца бывает трудно, однако здесь важно отдавать себе отчёт, что речь идёт о его здоровье. Ожирение предрасполагает к развитию сахарного диабета, болезням сердца и сосудов, мочекаменной болезни, некоторым видам злокачественных опухолей, а также вызывает проблемы с суставами и позвоночником из-за повышенной нагрузки на скелет.
							<br><br>
							<b>Недостаток движения</b>
							<br><br>
							В естественной среде обитания животные не сидят на диетах, однако полных среди них практически нет. Всё потому, что они очень много двигаются, добывая себе пищу, а в холодное время года немало энергии расходуется на согревание. Разумеется, полностью воспроизвести эти условия при городском содержании питомца невозможно, да и не нужно. Однако без разумных нагрузок не обойтись:
							<br><br>
							- Собакам необходимо обеспечить не менее часа активных прогулок в день. Пастушьи, служебные и охотничьи породы нуждаются, как минимум, в двух часах выгула ежедневно.
							<br><br>
							- Кошкам, постоянно содержащимся в квартире, необходимо обеспечить пространство для игр — установить игровые комплексы, приобрести разнообразные игрушки и уделять хотя бы по 20 минут в день для активных игр с питомцем с помощью дразнилки, лазерной указки и так далее.
							<br><br>
							<b>Пожилой возраст</b>
							<br><br>
							С возрастом из-за изменений гормонального фона и снижения физической активности у животных также появляется склонность к набору лишнего веса. Рекомендации тут аналогичные, что и после кастрации: регулярное взвешивание и контроль порций. В таблицах кормления «Акана» и «Ориджен» для пожилых животных предусмотрена отдельная норма кормления (в последнем столбце).
							<br><br>
							<b>Заболевания</b>
							<br><br>
							Если вы придерживаетесь правильного режима кормления и прогулок, а питомец всё равно набирает лишний вес, стоит проконсультироваться у ветеринарного врача. Крайне редко, но встречаются заболевания, при которых животные толстеют даже при умеренном количестве пищи. В этом случае диета должна подкрепляться медикаментозным лечением.
						</span>
            </div>

            <div class="openText6">
                <input type="checkbox" id="seven" class="reference">
                <label for="seven">Говорят, высокобелковое питание вредит почкам собак и кошек?</label>
                <span class="story">
							На самом деле, это миф. Качественное высокобелковое питание не оказывает негативного воздействия на почки собак или кошек. Более того, эксперименты зарубежных учёных доказали, что при проблемах с почками гораздо важнее заботиться о качестве потребляемых белков и о том, чтобы белки поступали в организм в необходимом количестве. В одном из подобных исследований высокобелковый рацион предлагался собакам, уже страдающим проблемами с почками и даже имеющим всего одну почку. В результате никакой связи между высоким протеином в кормах и прогрессированием почечных заболеваний выявлено не было.
							<br><br>
							<b>Правда ли, что все ветеринарные диеты низкобелковые?</b>
							<br><br>
							Далеко не все ветеринарные диеты предполагают снижение белка в рационе. Напротив, при некоторых заболеваниях собакам и кошкам показано высокобелковое питание. К примеру, при сахарном диабете, ожирении.
							<br><br>
							Стоит ли давать такие корма здоровому животному? Нет, конечно. Использование любых ветеринарных диет для здоровых собак и кошек бессмысленно, а иногда и просто опасно. Недополучить белка – гораздо хуже, чем потребить его в избытке. Ведь дефицит этого макронутриента грозит нарушением обменных процессов, снижением иммунитета, падением уровня гемоглобина, анемией, мышечной дистрофией. В то время как потребляемый в избыточном количестве (выше дневной нормы) пищевой белок не откладывается в организме, а без проблем перерабатывается в энергию.
						</span>
            </div>

        </div>

        <br>
        <div class="feedback container">

            <h2 class="p-3">Отзывы о нас</h2>

            <div class="row row-cols-3 row-cols-sm-4 mb-3 text-center">

                <div class="col">
                    <div class="card mb-1 shadow-sm">
                        <div class="card-body">
                            <h3 class="card-title pricing-card-title">Марк Квитка</h1>
                                <img class="card-img-top mb-2"
                                     src="https://pethouse.ua/assets/images/testimonials/14549255631583498129.jpeg"
                                     alt="" width="190px" height="190px">
                                <p>Купили корм для бигля 3 месяца, пропали проблемы с шерстью, ест с удовольствием!
                                    Спасибо Вам.</p>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-1 shadow-sm">
                        <div class="card-body">
                            <h3 class="card-title pricing-card-title">Аля Асмарян</h1>
                                <img class="card-img-top mb-2"
                                     src="https://pethouse.ua/assets/images/testimonials/14548905211864605558.jpg"
                                     alt="" width="190px" height="190px">
                                <p>С удовольствием пользуюсь услугами магазина уже не первый раз. Очень хорошее
                                    обслуживание!</p>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-1 shadow-sm">
                        <div class="card-body">
                            <h3 class="card-title pricing-card-title">Галя Слива</h1>
                                <img class="card-img-top mb-2"
                                     src="https://pethouse.ua/assets/images/testimonials/1488299760815555829.jpg" alt=""
                                     width="190px" height="190px">
                                <p>Команда магазину працює професійно та відповідально, а враження залишаються
                                    найтепліші. Дякуємо</p>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-1 shadow-sm">
                        <div class="card-body">
                            <h3 class="card-title pricing-card-title">Наташа Вишня</h1>
                                <img class="card-img-top mb-2"
                                     src="https://pethouse.ua/assets/images/testimonials/14882837321748503556.jpg"
                                     alt="" width="190px" height="190px">
                                <p>Пользуюсь услугами вашего интернет-магазина. Нравится подход к клиенту и ценовая
                                    политика. Кот также доволен :)</p>

                        </div>
                    </div>
                </div>


                <!-- копипаст сюда остальные -->

            </div>

            <div class="brends pb-5">

                <h2 class="p-3">Бренды с которыми мы сотрудничаем</h2>

                <div class="row">

                    <img class="col-2" src="https://pethouse.ua/assets/images/brand/orijen.png" alt="">
                    <img class="col-2" src="https://pethouse.ua/assets/images/brand/proplan.png" alt="">
                    <img class="col-2" src="https://pethouse.ua/assets/images/brand/royalcanin.png" alt="">
                    <img class="col-2" src="https://pethouse.ua/assets/images/brand/advantix.png" alt="">
                    <img class="col-2" src="https://pethouse.ua/assets/images/brand/sheba.png" alt="">
                    <img class="col-2" src="https://pethouse.ua/assets/images/brand/trixie.png" alt="">

                </div>

                <div class="row">
                    <img class="col-2" src="https://pethouse.ua/assets/images/brand/1stchoice.png" alt="">
                    <img class="col-2" src="https://pethouse.ua/assets/images/brand/acana.png" alt="">
                    <img class="col-2" src="https://pethouse.ua/assets/images/brand/brit.png" alt="">
                    <img class="col-2" src="https://pethouse.ua/assets/images/brand/hills.png" alt="">
                    <img class="col-2" src="https://pethouse.ua/assets/images/brand/josera.png" alt="">
                    <img class="col-2" src="https://pethouse.ua/assets/images/brand/optimeal.png" alt="">
                </div>
            </div>

</main>

<footer class="mt-5">

    <div class="footer-top container row justify-content-center mx-auto pt-3">

        <div class="about col-3 ">

            <h2 class="text-light">О компании</h2>

            <ul style="list-style: none;">
                <li><a class="text-light" href="#">Компания</a></li>
                <li><a class="text-light" href="#">Карьера</a></li>
                <li><a class="text-light" href="#">Поставщикам</a></li>
                <li><a class="text-light" href="#">Благотворительность</a></li>
                <li><a class="text-light" href="#">Написать директору</a></li>
            </ul>

        </div>

        <div class="info col-3">

            <h2 class="text-light">Информация</h2>

            <ul style="list-style: none;">
                <li><a class="text-light" href="#">Оплата и доставка</a></li>
                <li><a class="text-light" href="#">Возврат товаров</a></li>
                <li><a class="text-light" href="#">Политика конфиденциальности</a></li>
                <li><a class="text-light" href="#">Условия использования</a></li>
                <li><a class="text-light" href="#">Представленные бренды</a></li>
                <li><a class="text-light" href="#">Карта сайта</a></li>
            </ul>

        </div>
        <div class="contact col-3">

            <h2 class="text-light">Контакты</h2>

            <ul style="list-style: none;">
                <li><a class="text-light" href="#">+380 (96) 813-17-09</a></li>
                <li><a class="text-light" href="#">daniil.zakharov@nure.ua</a></li>
                <li><a class="text-light" href="#">Youtube</a></li>
            </ul>

        </div>
        <div class="payment col-3">

            <h2 class="text-light">Способы оплаты</h2>

            <ul style="list-style: none;">
                <li><a class="text-light" href="#"><img src="https://pethouse.ua/assets/templates/zoog2/images/v24.png"
                                                        alt=""></a></li>
                <li><a class="text-light" href="#"><img
                        src="https://pethouse.ua/assets/templates/zoog2/images/google-pay.png" alt=""></a></li>
                <li><a class="text-light" href="#"><img
                        src="https://pethouse.ua/assets/templates/zoog2/images/apple-pay.png" alt=""></a></li>
                <li><a class="text-light" href="#"><img src="https://pethouse.ua/assets/templates/zoog2/images/mc24.png"
                                                        alt=""></a></li>

            </ul>

        </div>

    </div>

    <div class="footer-botom container mb-0 pb-2">

        <p class="text-light">© 2021 - &#8734; Интернет-зоомагазин Счасливый Питомец</p>

    </div>

</footer>
<script>
	function myFunction() {
		var input = document.getElementById("Find");
		var filter = input.value.toLowerCase();
		var nodes = document.getElementsByClassName('Item');

		for (i = 0; i < nodes.length; i++) {
			if (nodes[i].innerText.toLowerCase().includes(filter)) {
				nodes[i].style.display = "block";
			} else {
				nodes[i].style.display = "none";
			}
		}
	}
</script>
</body>
</html>